Repository rules-proto-grpc/rules_proto_grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, lang-android, lang-buf, lang-c, lang-cpp, lang-csharp, lang-d, lang-doc, lang-fsharp, lang-go, lang-grpc-gateway, lang-java, lang-js, lang-objc, lang-php, lang-python, lang-ruby, lang-rust, lang-scala, lang-swift

Drop input_manifests in Windows branch
  modules/core/internal/compile.bzl
Labels: none

Replace run_shell with cp from bazel-lib coreutils in common.bzl
  modules/core/MODULE.bazel
  modules/core/defs.bzl
  modules/core/internal/common.bzl
Labels: dependencies

Allow templating {name} in plugin options
  modules/core/internal/compile.bzl
Labels: none

Name combined openapi output file by target name
  modules/grpc_gateway/BUILD.bazel
Labels: lang-grpc-gateway

Fix typo
  modules/core/internal/compile.bzl
Labels: none

Apply buildifier
  modules/core/internal/compile.bzl
Labels: none

Test replacing run_shell with run for protoc execution
  modules/core/internal/compile.bzl
Labels: none

Tidy coreutils toolchain loading
  modules/core/internal/common.bzl
Labels: none

Remove workaround for long fixed bug (circa Bazel 6)
  modules/core/internal/compile.bzl
Labels: none

Change plugin used for nested output dir test workspace
  test_workspaces/nested_output_directory/MODULE.bazel
  test_workspaces/nested_output_directory/mixed_grpc_compile.bzl
Labels: dependencies

Use a consistent ID for plugins to prevent collision
  modules/core/internal/compile.bzl
Labels: none

Add a fixer-using plugin to nested output dir test workspace
  test_workspaces/nested_output_directory/MODULE.bazel
  test_workspaces/nested_output_directory/mixed_grpc_compile.bzl
Labels: dependencies

Add proper test for nested output dir test workspace
  test_workspaces/nested_output_directory/BUILD.bazel
  test_workspaces/nested_output_directory/main.py
  test_workspaces/nested_output_directory/placeholder.py
Labels: none

Remove service from nested output dir workspace proto file to exercise fixer
  test_workspaces/nested_output_directory/directory/service.proto
Labels: none

Switch to using deterministic output name for C# grpc plugin
  modules/csharp/BUILD.bazel
Labels: lang-csharp

Add empty template for C# grpc plugin
  modules/csharp/BUILD.bazel
  modules/csharp/empty.template
Labels: lang-csharp

Increase complexity of nested output dir test workspace, now the C# does not use output_directory
  test_workspaces/nested_output_directory/BUILD.bazel
  test_workspaces/nested_output_directory/main.py
  test_workspaces/nested_output_directory/mixed_grpc_compile.bzl
Labels: none

Restore empty_output_directory test workspace using custom plugin
  .bazelci/presubmit.yml
  test_workspaces/Makefile.mk
  test_workspaces/empty_output_directory/BUILD.bazel
  test_workspaces/empty_output_directory/MODULE.bazel
  test_workspaces/empty_output_directory/WORKSPACE
  test_workspaces/empty_output_directory/dir_grpc_compile.bzl
  test_workspaces/empty_output_directory/main.py
  test_workspaces/empty_output_directory/no-services.proto
Labels: dependencies

Move fixer to tools dir
  modules/core/internal/compile.bzl
  modules/core/tools/fixer/BUILD.bazel
  modules/core/tools/fixer/README.md
  modules/core/tools/fixer/main.cpp
Labels: none

Use better name for protoc output path prior to fixer running
  modules/core/internal/compile.bzl
Labels: none

Replace final run_shell with custom dir merger tool
  modules/core/internal/compile.bzl
  modules/core/tools/merger/BUILD.bazel
  modules/core/tools/merger/main.cpp
Labels: none

Update fixer to use std::filesystem
  modules/core/defs.bzl
  modules/core/tools/fixer/main.cpp
Labels: none

Add readme to merger
  modules/core/tools/merger/README.md
Labels: none

Update expected outputs for nested_output_directory
  test_workspaces/nested_output_directory/main.py
Labels: none

.github/labeler.yml:

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['MODULE.bazel', '**/MODULE.bazel']
documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs/**/*']
lang-android:
  - changed-files:
    - any-glob-to-any-file: ['modules/android/**/*', 'examples/android/**/*', 'tools/rulegen/android.go']
lang-buf:
  - changed-files:
    - any-glob-to-any-file: ['modules/buf/**/*', 'examples/buf/**/*', 'tools/rulegen/buf.go']
lang-c:
  - changed-files:
    - any-glob-to-any-file: ['modules/c/**/*', 'examples/c/**/*', 'tools/rulegen/c.go']
lang-cpp:
  - changed-files:
    - any-glob-to-any-file: ['modules/cpp/**/*', 'examples/cpp/**/*', 'tools/rulegen/cpp.go']
lang-csharp:
  - changed-files:
    - any-glob-to-any-file: ['modules/csharp/**/*', 'examples/csharp/**/*', 'tools/rulegen/csharp.go']
lang-d:
  - changed-files:
    - any-glob-to-any-file: ['modules/d/**/*', 'examples/d/**/*', 'tools/rulegen/d.go']
lang-doc:
  - changed-files:
    - any-glob-to-any-file: ['modules/doc/**/*', 'examples/doc/**/*', 'tools/rulegen/doc.go']
lang-fsharp:
  - changed-files:
    - any-glob-to-any-file: ['modules/fsharp/**/*', 'examples/fsharp/**/*', 'tools/rulegen/fsharp.go']
lang-go:
  - changed-files:
    - any-glob-to-any-file: ['modules/go/**/*', 'examples/go/**/*', 'tools/rulegen/go.go']
lang-grpc-gateway:
  - changed-files:
    - any-glob-to-any-file: ['modules/grpc_gateway/**/*', 'examples/grpc_gateway/**/*', 'tools/rulegen/grpc_gateway.go']
lang-java:
  - changed-files:
    - any-glob-to-any-file: ['modules/java/**/*', 'examples/java/**/*', 'tools/rulegen/java.go']
lang-js:
  - changed-files:
    - any-glob-to-any-file: ['modules/js/**/*', 'examples/js/**/*', 'tools/rulegen/js.go', 'tools/rulegen/grpc-web.go']
lang-objc:
  - changed-files:
    - any-glob-to-any-file: ['modules/objc/**/*', 'examples/objc/**/*', 'tools/rulegen/objc.go']
lang-php:
  - changed-files:
    - any-glob-to-any-file: ['modules/php/**/*', 'examples/php/**/*', 'tools/rulegen/php.go']
lang-python:
  - changed-files:
    - any-glob-to-any-file: ['modules/python/**/*', 'examples/python/**/*', 'tools/rulegen/python.go']
lang-ruby:
  - changed-files:
    - any-glob-to-any-file: ['modules/ruby/**/*', 'examples/ruby/**/*', 'tools/rulegen/ruby.go']
lang-rust:
  - changed-files:
    - any-glob-to-any-file: ['modules/rust/**/*', 'examples/rust/**/*', 'tools/rulegen/rust.go']
lang-scala:
  - changed-files:
    - any-glob-to-any-file: ['modules/scala/**/*', 'examples/scala/**/*', 'tools/rulegen/scala.go']
lang-swift:
  - changed-files:
    - any-glob-to-any-file: ['modules/swift/**/*', 'examples/swift/**/*', 'tools/rulegen/swift.go']
