Repository rules-proto-grpc/rules_proto_grpc, pull requests merged in 2021-09, with the labels that each got.

#138 Disable swift tests on linux
  .bazelci/presubmit.yml
  tools/rulegen/swift.go
Labels: lang-swift

#134 Fix imports of .d.ts definitions for JS gRPC rules
  js/BUILD.bazel
Labels: bug, lang-js

#130 Update some dependencies
  go/repositories.bzl
  js/requirements/README.md
Labels: dependencies, lang-js, lang-go

#141 Fix custom plugin development example source code
  docs/developers.rst
Labels: bug, documentation
