Repository rules-proto-grpc/rules_proto_grpc, pull requests merged in 2023-12, with the labels that each got.

#298 Only forward nocopts to cc_library if present in kwargs
  cpp/cpp_proto_library.bzl
Labels: lang-cpp

#297 rust: JSON compliant casing
  rust/BUILD.bazel
Labels: lang-rust

#296 rust: Allow all clippy lints for generated code.
  rust/rust_fixer.bzl
Labels: lang-rust

#301 Handling paths with dots in Python rules
  .bazelci/presubmit.yml
  modules/core/internal/common.bzl
  test_workspaces/Makefile.mk
  test_workspaces/python_dots/BUILD.bazel
  test_workspaces/python_dots/MODULE.bazel
  test_workspaces/python_dots/WORKSPACE
  test_workspaces/python_dots/main.py
  test_workspaces/python_dots/path.dots/demo.proto
Labels: dependencies

#302 Fixing the generated python path with dot from grpc
  modules/core/internal/common.bzl
  modules/python/BUILD.bazel
  test_workspaces/python_dots/BUILD.bazel
  test_workspaces/python_dots/path.dots/demo.proto
Labels: lang-python
