Repository rules-proto-grpc/rules_proto_grpc, pull requests merged in 2023-06, with the labels that each got.

#258 fix go plugin opts
  grpc-gateway/BUILD.bazel
Labels: lang-grpc-gateway

#262 Remove grpc sources from runfiles trees
  cpp/cpp_grpc_library.bzl
Labels: lang-cpp

#264 Replace broken Developers link with Custom Plugins on readme.
  README.md
Labels: bug
